:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
}
a:hover {
  color: white;
}

body {
  margin: 0;
  background-color: yellow;
}
header {
  background-color: orange;
}
div {
  background-color: white;
  border: solid 15px black;
  width: 500px;
  height: 500px;
  margin: auto;
  display: flex;
}

h1 {
  font-size: 3.2em;
  text-align: center;
}
