:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

a {
  font-weight: bold;
  color: black;
  text-decoration: none;
  font-size: 2rem;
}
a:hover {
  color: white;
}

body {
  margin: 0;
  background-color: yellow;
}
nav {
  background-color: orange;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding: 10px;
  border-right: 15px solid black;
}
.container {
  background-color: white;
  border: solid 15px black;
  width: 700px;
  height: 500px;
  display: flex;
  margin: auto;
}

h1 {
  font-size: 3.2em;
  text-align: center;
}
.conteudo {
  margin: 10px;
  padding: 20px;
  width: 55%;
  font-size: 1.25rem;
}

@media screen and (max-width: 700px) {
  .container {
    max-width: 450px;
    padding: 0;
  }
  nav {
    max-width: 25%;
  }
  .conteudo {
    margin: 0;
    padding: 10px;
  }
}
